.event-form {
    position: absolute;
    width: 300px;
    display: grid;
    grid-gap: 10px;
    background: #FFF;
    padding: 40px;
    top: -30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1;
    cursor: auto;
}

.event-form:after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #FFF;
    top: 60px;
    box-shadow: 3px -3px 3px rgba(0,0,0,0.1);
}

.event-form--right {
    left: 110%;
}


.event-form--left {
    right: 110%;
}

.event-form--left:after {
    transform: rotate(45deg);
    left: calc(100% - 10px);
}

.event-form__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
    line-height: 15px;
}

.event-form_input {
    padding: 5px;
}

.event-form--right:after {
    transform: rotate(-135deg);
    right: calc(100% - 10px);
}

.event-form_input::placeholder {
    color: #DADADA;
    font-size: 14px;
}

.event-form_textarea {
    resize: none;
    height: 80px;
}

.event-form__event-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.event-form__date {
    font-weight: 500;
    color: #333;
}

.eqvent-form-event-people__top {
    font-size: 12px;
}

.eqvent-form-event-people__bottom {
    color: #333;
    font-weight: 500;
}

.eqvent-form-event-description__top {
    font-size: 12px;
}

.eqvent-form-event-description__bottom {
    margin-top: 5px;
    font-size: 15px;
}